*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.menu-container{
    color: whitesmoke;
    background-color: #1F2937;
    padding: 20px 0;

    display: flex;
    justify-content: center;
}

.menu{
    border: 0px solid #ffff;
    width: 1700px;

    display: flex;
    justify-content: space-between;
}

.name-plate{
    border: 0px solid #ffff;

    font-size: 32px; 
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.links{
    border: 0px solid #ffff;
    margin-left: 10px; 

    font-size: 20px;
    color: #E5E7EB;

    display: flex; 
    justify-content: flex-end;  
    align-items: flex-end;
}

.portfolio{
    padding-right: 30px;
    padding-left: 30px; 
}

.contact{
    padding-right: 30px;
    padding-left: 30px; 
}

.about-me{
    padding-right: 30px;
    padding-left: 30px; 
}

.header-container{
    color: whitesmoke;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: stretch;
    
    flex: 1 1 1;
    padding-bottom: 100px; 
}

.header{
    border: 0px solid #ffff;
    display: flex; 
    justify-content: space-between;
}

.landing-img{
    border: 0px solid #ffff;
    display: flex; 
    justify-content: flex-start;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px; 
}

.infographic{
    border: 0px solid #ffff;
    background-color: #1F2937;
    color: whitesmoke;
    display:flex; 
    justify-content: flex-start;
    flex-direction: column; 
    align-content: stretch; 
}

.logo{
    display:flex; 
    justify-content: flex-start;

    margin-top: 25px;
    margin-left: 25px;
}

.intro-paragraph{
    display:flex; 
    justify-content: flex-start;

    font-size: 24px; 
    width: 1000px; 

    flex-direction: column;
    margin-left: 25px; 
}

.photo-view{
    border: 0px solid #ffff;
    background-color: #1F2937;

    display: flex; 
    justify-content: center; 
}

.photo-group{
    border: 0px solid #ffff;
    background-color: #1F2937;

    display: flex; 
    justify-content: center; 
    flex-direction: row; 
}